.numbers {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/bg/numbersBG.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 20%;
    margin-bottom: toRem(30);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: toRem(20);
        gap: toRem(60);
        margin-bottom: toRem(30);

        &Item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &Header {
                font-family: $headerFont;
                font-size: toRem(30);
                font-weight: 500;
                color: $accentColor;
            }

            &SubHeader {
                font-family: $textFont;
                font-size: toRem(11);
                font-weight: 700;
                color: $secondaryColor;
            }
        }
    }
}

// Media queries 
@media (min-width: $breakTablet) {
    .numbers {
        margin-top: toRem(50);

        &__content {
            gap: toRem(100);
            padding-top: toRem(30);
            margin-bottom: toRem(40);
        }

        &__contentItemHeader {
            font-size: toRem(45);
        }

        &__contentItemSubHeader {
            font-size: toRem(18);
        }
    }
}

@media (min-width: $breakDesktop) {
    .numbers {
        &__content {
            gap: toRem(180);
            padding-top: toRem(80);
            margin-bottom: toRem(65);
        }

        &__contentItemHeader {
            font-size: toRem(80);
        }

        &__contentItemSubHeader {
            font-size: toRem(35);
        }
    }
}