// Colors
$mainColor: #2C2C2C;
$secondaryColor: #E8E8E8;
$accentColor: #B87333;
$red: #AE6E6E;



// Fonts
$logoFont: 'Playfair Display', serif;
$headerFont: 'Oswald', sans-serif;
$textFont: 'Lato', sans-serif;

// Breakpoints
$breakTablet: 768px;
$breakDesktop: 1440px;